<mat-toolbar color="primary"
    class="mat-toolbar-header mat-elevation-z18">
    <span>Restaurant Finder</span>
    <span class="header-spacer"></span>
    <div header-button-row>
        <button mat-button routerLink="/home">Home</button>
        <!-- <button mat-button routerLink="/about">About us</button> -->
        <!-- <button mat-button routerLink="/restaurants">Restaurants</button> -->
        <!-- <button mat-button routerLink="/search">Search</button> -->
        <button mat-button routerLink="/employee">Employee</button>
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/signup">SignUp</button>
        <button mat-button (click)="logout()">Logout</button>
    </div>
</mat-toolbar>